<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mireybet</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/estilos/index.css">    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>

    <body class="container">
        
        <h2 class= "mt-3 mb-3">MiRey BET - Panel de Control</h2>
        <div class="row">
            <!-- Secciones secundarias -->
            <div class="col mb-3">
                <div class="card">
                    <div class="card-header">
                      Gestionar Banner
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Ir al modulo</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Gestionar Categoría
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Ir al modulo</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mb-3">
            <!-- Secciones secundarias -->
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Gestionar Juegos
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Ir al modulo</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Gestionar Partidas
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Ir al modulo</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-danger btn-lg" href="/mi_cuenta/cerrar">Cerrar Sesión</a>
        </div>      
    </body>
</html> 