<html>
    <head>
        <title>MiRey BET</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/estilos/index.css">    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        
    </head>
    <body  class = "container">
        <%- include('menu') %>
        <div>
            <h3 class="text-center mt-3">Registro de nuevo usuario</h3>
        </div>
        
        <div>
            <h3> Paso 4:</h3>
        </div>
        
        <div class="mb-3">
            <label  class="form-label">Direccion :</label>
            <input name="text" type="text" class="form-control" />
        </div>


        <div class="mb-3">
            <label  class="form-label">Provincia:</label>
           

        <div class="mb-3">
            <label  class="form-label"> Distrito:</label>
           
        </div>
         
        <div class="mb-3">
            <label  class="form-label">Departamento :</label>
           
        </div>

        <div class="mb-3">
            <label  class="form-label">Telefono</label>
            
        </div>

        
        <div class="mb-3">
            <label  class="form-label">Soy PEP: </label>
            <input type="radio" name="estado"> Si
            <input type="radio" name="estado"> NO
        </div>





        <div class="row justify-content-around mb-3">
              
              <div >
                <a id= "regesar"  href="/registro_3"  class="btn btn-warning btn-lg col-sm-2">Atras</a>
                <a id= "siguiente" href="/registro_exitoso" class="btn btn-warning btn-lg col-sm-2">Finalizare</a>
             </div>
         </div>       

        
    </body>
     
    <%- include('footer') -%> 
    <script  src="/js/login.js"></script>    
    </body>
</html>
