<div >
      <div class="col">
        <table class="tabla">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI</th>
              <th>Correo</th>
              <th>Telefono</th>
              <th>Distrito</th>
              <th>Provincia</th>
              <th>Departamento</th>
              <th>PEP</th>
            </tr>
          </thead>
          <tbody id="datos">
            <%- body %>
          </tbody>
        </table>
      </div>
