.seleccion{
    background-color: darkkhaki;
}
.seleccion:hover{
    background-color: gold;
}


#texto-nosotros{
    text-align: justify;
}

.proximos {
    text-align: center;
  }

#nombreseleccion{
    font-size: medium;
    color: darkslategray;
}

#texto-nombre{
    font-size: large;
    color: black;
    text-align: center;
}

